################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LiveWallpaper/v15
/Debug/log
/LiveWallpaper/Debug
/LiveWallpaper/Release
/LiveWallpaperCleanUp/Debug
/LiveWallpaperCleanUp/Release
/LiveWallpaperCore/Debug
/LiveWallpaperCore/Release
/LiveWallpaperReStart/Debug
/LiveWallpaperReStart/Release
/LiveWallpaperUI/Debug
/LiveWallpaperUI/Release
/Release/data
/Release/LiveWallpaperUI.pdb
/Release/LiveWallpaperUI.ipdb
/Release/LiveWallpaperUI.iobj
/Release/LiveWallpaperReStart.pdb
/Release/LiveWallpaperReStart.ipdb
/Release/LiveWallpaperReStart.iobj
/Release/LiveWallpaperCore.pdb
/Release/LiveWallpaperCore.ipdb
/Release/LiveWallpaperCore.iobj
/Release/LiveWallpaperCleanUp.pdb
/Release/LiveWallpaperCleanUp.ipdb
/Release/LiveWallpaperCleanUp.iobj
/Release/LiveWallpaper.pdb
/Release/LiveWallpaper.ipdb
/Release/LiveWallpaper.iobj
/Video
